<% layout('layout/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3 mb-5">
            <form action="/campgrounds" method="POST" novalidate class="require-validation"
                enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title </label>
                    <input class='form-control' type="text" name="campground[title]" id="title">
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground title can't be left empty</div>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="location">Location </label>
                    <input class="form-control" type="text" name="campground[location]" id="location">
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground location can't be left empty</div>
                </div>
                
                

                <!-- <div class="mb-3">
                    <label class='form-label' for="image">Image URL </label>
                    <input class="form-control" type="text" name="campground[image]" id="image" required>
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground image can't be left empty</div>
                </div> -->
                <div class="mb-3">
                    <label class='form-label' for="description">Description </label>
                    <input class="form-control" type="text" name="campground[description]" id="description">
                    <div class="valid-feedback">This looks Great!</div>
                    <div class="invalid-feedback">* Campground description can't be left empty</div>
                </div>
                <div class="mb-3">
                    <label class='form-label' for="price">Campground Price </label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input type="text" step="0.01" placeholder='0.00' class="form-control" name="campground[price]"
                            id="price" aria-describedby="price-label">
                        <div class="valid-feedback">This looks Great!</div>
                        <div class="invalid-feedback">* Campground price can't be left empty</div>
                    </div>
                </div>
                <div class="mb-3 custom-file">
                    <label for="image" class="form-label custom-file-label">Insert Image(s) here...</label>
                    <input class="form-control" type="file" id="image" multiple name="image">
                </div>
                <div class="mb-3 d-md-flex justify-content-between">
                    <a class="btn btn-dark" href="/campgrounds">Cancel</a>
                    <button class="btn btn-dark">Add Campground</button>
                </div>
            </form>


        </div>
    </div>